@model InvestmentWebPlatform.ViewModel.AddCashViewModel

@{
    ViewData["Title"] = "Adicionar Saldo";
}

<h1>Adicione Saldo a sua conta</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <h2>Informações bancarias</h2>
        <div>
            <label class="control-label"> Numero Banco Toro: 352</label>
        </div>
        <div>
            <label class="control-label">Agencia: 0001</label>
        </div>
        <div>
            <label class="control-label">Número da conta: @Model.AccountNumber</label>
        </div>
        <div>
            <label class="control-label">CPF da conta: @Model.TargetCPF</label>
        </div>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-4">
        <h2>Transferencia bancaria</h2>
        <form asp-action="AddCash">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(x => x.AccountNumber)
            @Html.HiddenFor(x => x.TargetCPF)
            <div class="form-group">
                <label asp-for="OriginBank" class="control-label"></label>
                <input asp-for="OriginBank" class="form-control" />
                <span asp-validation-for="OriginBank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OriginBranch" class="control-label"></label>
                <input asp-for="OriginBranch" class="form-control" />
                <span asp-validation-for="OriginBranch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OriginCPFOwner" class="control-label"></label>
                <input asp-for="OriginCPFOwner" class="form-control" />
                <span asp-validation-for="OriginCPFOwner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>

